<!-- <div id="main-wrapper" class="container"> -->
    <div class="row content">
        <div class="col-md-12">
            <div class="card border-0">
                <div class="card-body p-0">
                    <div class="row no-gutters">
    
                        <div class="col-lg-4 d-none d-lg-inline-block">
                            <div class="account-block rounded-right">
                                <div class="overlay rounded-right"></div>
                                <div class="text1">
                                    <h4 class="text-white mb-4">Lottery display </h4>
                                    
                                    
                                </div>

                                <div class="text2">
                                    
                                    <h1 class="text-white mb-4">Significant lottery display</h1>
                                    
                                </div>
                            </div>
                        </div>
    
    
                        <div class="col-lg-8 col-xs-12 padding">
                            <div class="p-5">
                                <div class="mb-6 margin-top">
                                    <h3 class="h4 font-weight-bold "><b>Register</b></h3>
                                </div>
                                <div class="margin">
                                    
    
                                    <h6 class="h5 mb-0">Manage your lottery eficient</h6>
                                    <p class="text-muted mt-2 mb-5">Enter your email address and password to access admin panel.</p>
    
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Firt Name</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
                                            </div>

                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Last Name</label>
                                                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
                                            </div>
                                            
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Phone Number</label>
                                                <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Username">
                                            </div>

                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Email</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username">
                                            </div>
                                            
                                        </div>

                                        <br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Password</label>
                                                <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Username">
                                            </div>

                                            <div class="col-md-6">
                                                <label for="exampleInputEmail1">Confirm Password</label>
                                                <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Username">
                                            </div>
                                            
                                        </div>
                                       
                                        <br>
                                        
                                        <button type="submit" class="btn btn-primary btn-lg ">Create account</button>
                                        <br>
                                        <span>Already have account ? <a href="#" [routerLink]="['']">Log in</a></span>
                                    </form>
                                </div>
                            </div>
                        </div>
    
                        
                    </div>
    
                </div>
                <!-- end card-body -->
            </div>
            <!-- end card -->
    
            <!-- end row -->
    
        </div>
        <!-- end col -->
    </div>
    <!-- Row -->
    <!-- </div> -->