
.text1{
    margin-bottom: 600px !important;
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.text2{
    margin-bottom: 400px !important;
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
}

.padding {
    padding: 100px !important;
}

.margin-top {
    margin-top: -50px;
}

.margin {
    margin-top: 50px !important;
}

